{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>
        bonjour {{ nom }}, {{ prenom }}
    </h1>
    <hr>
    <h5>Profession : {{ prof }}
    <script>console.log('hello')</script>
{% endblock %}
