{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div>
    <h1>Accueil</h1>
    <hr>
    <h3>Bonjour, {{ nom }}, {{ prenom }}.
    
    {% lorem 4 b random %}

{% endblock %}
