{% extends '@EasyAdmin/layout.html.twig' %}

{% block title %}Footix - Dashboard{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h4 class="display-6">Administration</h4>
        <p class="lead">Bienvenue dans l'interface de gestion de votre site</p>
    </div>
{% endblock %}
